/****ADMIN****/

.admin {
    margin-top: 50px;
    margin-bottom: 50px;
    background: #5D89DA;
    padding: 50px;
    border-radius: 10px;
    color: #FFF;
}

.admin h1 {
    font-weight: bold;
    font-size: 50px;
}

@media screen and (min-height: 650px) and (min-width: 700px) {
  .footer-page {
      position: fixed;
      bottom: 0;
  }
}

main{
  margin-bottom: 241px;
}

@media screen and (min-height: 650px) and (min-width: 700px) {
  .footer-page{
      position: fixed;
      bottom: 0;
  }
}

.admin a .retour {
    background-color: #FFC252;
}

thead {
    background-color: #1C385E;
}

th {
    color: #FFC252;
}


tr {
    color: #FFF;
}

tbody {
    background-color: #326295;
}

.help-inline {
    color: red;
}

.info {
    color: #FFF;
}

.admin form {
    color: #FFF;
}

.btn-white{
    background-color: white;
}

.alert{
    margin-top: 20px;
    margin-bottom: 25px;
    width: 210%;
}

.redirect{
    color: blue;
}

.container-admin{
    margin-top: 100px;
    margin-bottom: 659px;
}

@media screen and (max-width: 576px){
    .alert{
        width: 300px;
    }
}